---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/content/about/intro.md';
import Facilities from '@/content/about/facilities.md';
---

<Layout
  title="About"
  description="About HackerspaceSG, the Singapore tech scene's community centre.">
  <section class="prose mx-8 my-8 md:mx-auto">
    <Intro />
    <Facilities />
  </section>
</Layout>
