---
import Layout from '@/layouts/Layout.astro';
import Main from '@/content/location/main.md';
---

<Layout
  title="Location"
  description="Getting to HackerspaceSG at King George's Building.">
  <section class="prose mx-8 my-8 md:mx-auto">
    <Main />
  </section>
</Layout>
