---
import Layout from '@/layouts/Layout.astro';
import Main from '@/content/location/main.md';
---

<Layout title="Location">
  <section class="prose mx-8 my-8 md:mx-auto">
    <Main />
  </section>
</Layout>
