---
import Content from '@/content/index/announce.md';
---

<section class="bg-zinc-50 py-1">
  <div
    class="mx-auto w-fit max-w-3xl rounded-lg border border-neutral-200 bg-lime-50 shadow-sm"
    id="announce">
    <article class="prose p-8">
      <Content />
    </article>
  </div>
</section>
