---
import { Icon } from 'astro-icon/components';
import { Skeleton } from '@/components/ui/skeleton';
---

<div
  class="max-h-[30rem] overflow-y-auto rounded-lg bg-white p-6 shadow-md dark:bg-zinc-800">
  <a
    class="twitter-timeline"
    data-dnt="true"
    href="https://twitter.com/hackerspacesg"
    target="_blank"
    ><h2 class="mb-4 flex text-2xl font-bold text-zinc-800 dark:text-zinc-100">
      <Icon
        name="lucide:twitter"
        class="mr-2 h-8 w-8 text-sky-500"
        title="Yes, we're still using the old Twitter icon on purpose."
      />
      Tweets by&nbsp;<span class="text-red-600">@</span>hackerspacesg
    </h2><aside class="mx-auto max-w-96">
      <p
        class="prose mb-4 flex items-center justify-center text-lg font-semibold">
        <svg
          class="-ml-1 mr-1 inline-block h-4 w-4 animate-spin text-zinc-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24">
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg> Loading tweets<span class="animate-pulse">…</span>
      </p>
      <p class="prose my-1">
        If our tweets aren't showing, <abbr
          title="Yes, we're still calling it Twitter on purpose.">Twitter</abbr
        >'s widget is broken. 😱
      </p>
      <p class="prose my-1">Click here to view our tweets!</p>
      <div class="mt-4 flex justify-center space-x-4">
        <Skeleton className="h-10 w-10 rounded-full" />
        <div class="space-y-2">
          <Skeleton className="h-5 w-full" />
          <Skeleton className="h-4 w-64" />
          <Skeleton className="h-4 w-56" />
          <Skeleton className="h-4 w-48" />
        </div>
      </div>
    </aside>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>
  </a>
</div>
