---
import { Icon } from 'astro-icon/components';
import { fetchEvents } from '@/utils/eventHelpers';
import EventCard from '@/components/events/EventCard.astro';

const allEvents = await fetchEvents();
const events = allEvents
  .filter((event) => event.start > new Date())
  .sort((a, b) => a.start.getTime() - b.start.getTime());
---

<div
  class="max-h-[30rem] overflow-y-auto rounded-lg bg-white p-6 shadow-md dark:bg-zinc-800">
  <a href="/events">
    <h2
      class="mb-4 flex items-center text-2xl font-bold text-zinc-800 dark:text-zinc-100">
      <Icon name="lucide:calendar" class="mr-2 h-8 w-8 text-red-600" />
      Upcoming Events
    </h2></a
  >
  <ul class="space-y-4" id="event-list">
    {events.map((event) => <EventCard event={event} variant="upcoming" />)}
  </ul>
</div>

<script>
  import { updateRelativeTimes } from '@/utils/eventHelpers';

  if (typeof window !== 'undefined') {
    updateRelativeTimes();
    setInterval(updateRelativeTimes, 60000);
    document.addEventListener('astro:after-swap', updateRelativeTimes);
  }
</script>
