---
import '@/styles/globals.css';
import Head from '@/layouts/LayoutHead.astro';
---

<!doctype html>
<html lang="en" class="2xl:text-[1vw]">
  <Head />
  <body class="touch-manipulation">
    <slot />
  </body>
</html>
